@import "../../../../App.css";

.product {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    max-width: 60em;
    margin: 1rem auto;
}

.product img {
    position: relative;
    max-width: 15rem;
    padding: 1em;
    aspect-ratio: 1 / 1;
}

.details {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1em;
    padding-top: 2em;
    max-width: 60rem;
    width: 100%;
}

.ratingContent {
    display: flex;
}

#ratingCount {
    font-weight: 600;
    margin-left: 1em;
}

button {
    width: 100%;
}